<div class="bg-image">
	<h1 class="text-center p-t-100">Admin Pannel</h1>
	<h3 class="text-center">Slider</h3>
	<div class="container">
		<h3>Show Data</h3>
		<h1><%= @admin.heading %></h1><br>
		<p><%= @admin.paragraph %></p><br>
		<%= link_to "Edit", edit_admin_path(@admin)%>
		<br>
		<br><br>
	</div>
</div>
